{% extends 'caserne/base.html' %}

{% load static %}

{% block content %}
<div class="bloc">

    <div>
        <h2>Nos différentes équipes</h2>
        <div class="bloc-personnage">
            {% for character in characters %}
                <div class="personnage">
                    <h3><a href="{% url 'character_detail' name=character.id_character %}">{{ character.id_character }}</a></h3>
                    <div>
                        <p><b>état</b> : {{ character.etat }}</p>
                        <p><b>lieu</b> : {{ character.lieu }}</p>
                        
                    </div>
                    <img src="{% static 'photo/' %}{{character.lieu.lieu_photo}}" alt="{{character.lieu.id_equip}}">
                </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <h2>Les lieux</h2>
        <div class="bloc-equipement">
            {% for lieu in lieux %}
                <div class="equipement {% if lieu.disponibilite == 'occupé' %}occupe{% endif %}">
                    <h3>{{ lieu.id_equip }}</h3>
                    <img src="{% static 'photo/' %}{{ lieu.lieu_photo }}" alt="{{lieu.id_equip}}">
                    <p><b>disponibilité</b> : {{ lieu.disponibilite }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="info-box" id="infoBox">
        <button class="close-btn" onclick="closeInfoBox()">×</button>
        <b style="text-decoration: underline;">Bienvenue sur mon site ! </b> <br> Voici quelques informations pour commencer à gérer sa caserne de Pompier : 
        <ul>
            <li><b>Cliquez sur le nom</b> des équipes pour acceder à leur <b>panneau de contrôle</b>.</li>
            <li>Les <b>lieux occupés</b> sont en rouge.</li>
            <li>Les bulles de messages <b>vertes</b> sont des messages de <b>succès</b>.</li>
            <li>Et les bulles de messages <b>rouges</b> sont des messages <b>d'erreur</b>.</li>
        </ul>
    </div>

    <script>
        function closeInfoBox() {
            document.getElementById('infoBox').style.display = 'none';
            localStorage.setItem('infoBoxClosed', 'true');
        }

        window.onload = function() {
            if (localStorage.getItem('infoBoxClosed') === 'true') {
                document.getElementById('infoBox').style.display = 'none';
            }
        }
    </script>


</div>

{% endblock %}
